<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Jibble</a>
</nav>
<!-- /.navbar navbar-dark bg-primary -->

<div class="container">
  <div class="row">
    <app-home></app-home>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->