<div class="col-md-12 text-center mt-5 mb-5">
    <h1>Welcome!</h1>
</div>
<!-- /.col-md-12.text-center -->

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12" *ngFor="let item of collections">
            <div class="card mb-4">
               <div class="card-body">
                    <button type="button" class="close" (click)="delete(item)"><span aria-hidden="true">&times;</span></button>
                    <p><span class="font-weight-bold">Blog Title:</span> {{ item.post.title}}</p>
                    <p><span class="font-weight-bold">Album Title:</span> {{ item.album.title}}</p>
                    <p><span class="font-weight-bold">Username:</span> @{{ item.user.username}}</p>
                    <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample">Edit Blog Title</a>
                    <div class="collapse mt-3" id="collapseExample">
                    <hr>
                      <div class="card-body">
                        <div class="form-group">
                            <input [(ngModel)]="item.post.title" placeholder="" class="form-control"/>
                            <button class="btn btn-primary mt-3 float-right" (click)="update(item)">Save</button>
                        </div>
                      </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
<!-- /.col-md-12 -->